<div class="form-row">
    <div class="form-item">
        <label for="authorName">Author Name</label>
        <input type="text" name="authorName" value="<%= author.authorName %>" placeholder="Author Name">
    </div>
    <div class="form-item">
        <label for="username">Author User Name</label>
        <input type="text" name="username" value="<%= author.username %>" placeholder="Author Username">
    </div>
    <div class="form-item">
        <label for="email">Email</label>
        <input type="email" name="email" value="<%= author.email %>" placeholder="Author Email">
    </div>
    <div class="form-item">
        <label for="password">Password</label>
        <input type="password" name="password" value="<%= author.password %>" placeholder="Author Password">
    </div>
    <div class="form-item">
        <label for="profileImage">Author Profile Image</label>
        <input type="file" name="profileImage" value="<%= author.profileImage %>" placeholder="Author Profile Image">
    </div>
</div>